* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header,
.hero {
    background-color: #1f2937;
}

header,
.hero,
.info,
.quote,
.action {
    padding: 0 15%;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    gap: 24px;
}

.headertext {
    font-size: 24px;
    color: #F9FAF8;
}

.headerlink,
.herosubtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlink.link1 {
    margin-left: auto;
}

.hero {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;
    gap: 24px;
}

.hero > div {
    flex: 1;
}

.heromaintext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.heroimagebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimage {
    background-color: lightgray; /*Placeholder*/
    width: 350px;
    height: 150px;
}